In [14]:
import pandas as pd
import statsapi

In [15]:
 url = "http://www.espn.com/mlb/war/leaders/_/type/seasonal/year/20"

In [16]:
year_list = ['19', '18', '17', '16', '15']
df_list = []

In [25]:
for year in year_list:
    query_url = url+year
    qdfl = pd.read_html(query_url)
    qdfl[0]['season'] = year
    df_list.append(qdfl[0])

In [26]:
data = pd.concat(df_list)
data.head()

,0,1,2,3,4,5,6,7,8,9,season
0,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,19
1,RK,PLAYER,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,19
2,1,Cody Bellinger,9,6.6,1.9,7,5,4.7,72.9,0.5,19
3,2,Alex Bregman,8.4,7.7,1.2,6.1,5.3,5,62,0.5,19
4,3,Mike Trout,8.3,8.3,0.3,6.3,5.5,5,65.7,0.5,19

In [27]:
cols = ['rank', 'player', 'WAR', 'OFF', 'DEF', 'WAA', 'TRPG', 'ORPG', 'RAA', 'WAAWP', 'Season']

In [28]:
data.columns = cols
del data['rank']
data.head()

,player,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,Season
0,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,2019 Season WAR Leaders,19
1,PLAYER,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,19
2,Cody Bellinger,9,6.6,1.9,7,5,4.7,72.9,0.5,19
3,Alex Bregman,8.4,7.7,1.2,6.1,5.3,5,62,0.5,19
4,Mike Trout,8.3,8.3,0.3,6.3,5.5,5,65.7,0.5,19

In [29]:
data = data.dropna(subset=['player'])

In [30]:
data = data[~data.player.str.contains("WAR")]

In [31]:
data.head()

           player  WAR  OFF  DEF  WAA  TRPG  ORPG   RAA  WAAWP Season
1          PLAYER  WAR  OFF  DEF  WAA  TRPG  ORPG   RAA  WAAWP     19
2  Cody Bellinger    9  6.6  1.9    7     5   4.7  72.9    0.5     19
3    Alex Bregman  8.4  7.7  1.2  6.1   5.3     5    62    0.5     19
4      Mike Trout  8.3  8.3  0.3  6.3   5.5     5  65.7    0.5     19
5   Marcus Semien  8.1  7.5  1.5  5.8   5.3     5  58.5    0.5     19

In [32]:
# new data frame with split value columns 
new = data["player"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
data["First Name"]= new[0] 
data["Last Name"]= new[1] 
  
data = data.drop(data.index[0])
data.head()

,player,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,Season,First Name,Last Name
2,Cody Bellinger,9,6.6,1.9,7,5,4.7,72.9,0.5,19,Cody,Bellinger
3,Alex Bregman,8.4,7.7,1.2,6.1,5.3,5,62,0.5,19,Alex,Bregman
4,Mike Trout,8.3,8.3,0.3,6.3,5.5,5,65.7,0.5,19,Mike,Trout
5,Marcus Semien,8.1,7.5,1.5,5.8,5.3,5,58.5,0.5,19,Marcus,Semien
6,Justin Verlander,7.8,0,0,5.8,5,3.4,56.6,0.7,19,Justin,Verlander

In [52]:
players = [statsapi.lookup_player(x) for x in data['player']]
players[0]

## Everything below here is not working yet:

#### Trying to loop through players list to pull id's but getting an IndexError: list index out of range

In [54]:
players = [players[i][0] for i in range(len(players))]

IndexError: list index out of range

#### testing length/range of player list

In [49]:
range(len(players))

range(0, 500)

#### list comprehension to pull id's into list

In [ ]:
player_ids = [players[i]['id'] for range(len(players))]

#### adding id's to DF

In [ ]:
data['id'] = player_ids

#### creating empty list for records to be added into mongo

In [ ]:
mongo_list = []

#### loop to get stat data

In [ ]:
for i in data.index:
    #creating url to scrape from ESPN
    query_url = 'http://www.espn.com/mlb/player/stats/_/id/' + data['id'][i] + '/' + data['First Name'][i] + '-' + data['Last Name'][i]
    #add results to temporary df
    temp_df = pd.read_html(url)
    #above returns a list of dfs, this line pulls the df that contains the stat table
    stat_df = temp_df[1]
    #dropping the blank row at the top and the summary row at the bottom
    stat_df.drop(stat_df.tail(1).index,inplace=True)
    stat_df.drop(stat_df.head(1).index,inplace=True)
    #turning the df into a dictionary and adding to the mongo listS
    mongo_list.append(stat_df.to_dict('series'))