In [230]:
import pandas as pd
import statsapi
from pprint import pprint
import requests
from bs4 import BeautifulSoup

In [245]:
espn_url = "https://www.espn.com/mlb/war/leaders/_/type/seasonal/year/20"

In [261]:
year_list = ['19', '18', '17', '16', '15']
df_list = []

In [262]:
for year in year_list:
    query_url = espn_url+year
    qdfl = pd.read_html(query_url)
    qdfl[0]['season'] = year
    df_list.append(qdfl[0])

In [263]:
data = pd.concat(df_list)
data.head()

,0,1,2,3,4,5,6,7,8,9,season
0,2019 Season WAR Leaders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
1,RK,PLAYER,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,19
2,1,Cody Bellinger,9,6.6,1.9,7,5,4.7,72.9,0.5,19
3,2,Alex Bregman,8.4,7.7,1.2,6.1,5.3,5,62,0.5,19
4,3,Mike Trout,8.3,8.3,0.3,6.3,5.5,5,65.7,0.5,19

In [264]:
cols = ['rank', 'player', 'WAR', 'OFF', 'DEF', 'WAA', 'TRPG', 'ORPG', 'RAA', 'WAAWP', 'Season']

In [265]:
data.columns = cols
del data['rank']
data.head()

           player  WAR  OFF  DEF  WAA  TRPG  ORPG   RAA  WAAWP Season
0             NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN    NaN     19
1          PLAYER  WAR  OFF  DEF  WAA  TRPG  ORPG   RAA  WAAWP     19
2  Cody Bellinger    9  6.6  1.9    7     5   4.7  72.9    0.5     19
3    Alex Bregman  8.4  7.7  1.2  6.1   5.3     5    62    0.5     19
4      Mike Trout  8.3  8.3  0.3  6.3   5.5     5  65.7    0.5     19

In [266]:
data = data.dropna(subset=['player'])

In [267]:
data = data[~data.player.str.contains("WAR")]

In [268]:
data.head()

           player  WAR  OFF  DEF  WAA  TRPG  ORPG   RAA  WAAWP Season
1          PLAYER  WAR  OFF  DEF  WAA  TRPG  ORPG   RAA  WAAWP     19
2  Cody Bellinger    9  6.6  1.9    7     5   4.7  72.9    0.5     19
3    Alex Bregman  8.4  7.7  1.2  6.1   5.3     5    62    0.5     19
4      Mike Trout  8.3  8.3  0.3  6.3   5.5     5  65.7    0.5     19
5   Marcus Semien  8.1  7.5  1.5  5.8   5.3     5  58.5    0.5     19

In [269]:
# new data frame with split value columns 
new = data["player"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
data["First Name"]= new[0] 
data["Last Name"]= new[1] 
  
data = data.drop(data.index[0])
data.reset_index()
data.head()

,player,WAR,OFF,DEF,WAA,TRPG,ORPG,RAA,WAAWP,Season,First Name,Last Name
2,Cody Bellinger,9,6.6,1.9,7,5,4.7,72.9,0.5,19,Cody,Bellinger
3,Alex Bregman,8.4,7.7,1.2,6.1,5.3,5,62,0.5,19,Alex,Bregman
4,Mike Trout,8.3,8.3,0.3,6.3,5.5,5,65.7,0.5,19,Mike,Trout
5,Marcus Semien,8.1,7.5,1.5,5.8,5.3,5,58.5,0.5,19,Marcus,Semien
6,Justin Verlander,7.8,0,0,5.8,5,3.4,56.6,0.7,19,Justin,Verlander

In [271]:
data.drop_duplicates(subset ="player", keep ='first', inplace = True)

In [272]:
data.to_csv('war_leaders.csv')

In [276]:
id_list = pd.read_csv('master_id_list.csv', encoding='latin-1')
id_df = pd.DataFrame(id_list)[['mlb_name','espn_id','espn_name', 'espn_pos']].dropna()

In [278]:
new_data = pd.merge(data, id_df,  how='left', left_on=['player'], right_on = ['mlb_name'])

In [280]:
#do not overwrite this csv!!!
#new_data.to_csv('player_list.csv')

In [281]:
clean_data = pd.read_csv('player_list.csv')

In [282]:
q_urls=[]

In [284]:
for index, row in clean_data.iterrows():
    espn_tag = row['First Name']+ '-' +row['Last Name']
    espn_tag = espn_tag.lower()
    turl = 'http://www.espn.com/mlb/player/stats/_/id/' + str(row['espn_id']) + '/'+ espn_tag
    q_urls.append(turl)

In [287]:
clean_data['qurl'] = q_urls

In [312]:
mongo_list = []
for i in clean_data.index:
    temp_df = pd.read_html(clean_data['qurl'][i])
    #above returns a list of dfs, this line pulls the df that contains the stat table
    stat_df = temp_df[1]
    #dropping the blank row at the top and the summary row at the bottom
    stat_df.drop(stat_df.tail(1).index,inplace=True)
    stat_df.drop(stat_df.head(1).index,inplace=True)
    #turning the df into a dictionary and adding to the mongo listS
    mongo_list.append(stat_df.to_dict('series'))

In [313]:
for i in range(len(clean_data)):
    mongo_list[i]['name'] = clean_data['player'][i]

In [316]:
mongo_list[153]

{0: 1      YEAR
 2      2011
 3      2012
 4      2013
 5      2014
 6      2015
 7      2016
 8      2017
 9      2018
 10     2018
 11     2018
 12     2019
 13    Total
 Name: 0, dtype: object, 1: 1      TEAM
 2        KC
 3        KC
 4        KC
 5        KC
 6        KC
 7        KC
 8        KC
 9        KC
 10      MIL
 11    Total
 12      MIL
 13    Total
 Name: 1, dtype: object, 2: 1       GP
 2       89
 3      149
 4      136
 5      140
 6      147
 7       27
 8      148
 9       98
 10      54
 11     152
 12     143
 13    1131
 Name: 2, dtype: object, 3: 1       AB
 2      338
 3      563
 4      472
 5      457
 6      549
 7      104
 8      555
 9      378
 10     195
 11     573
 12     523
 13    4134
 Name: 3, dtype: object, 4: 1       R
 2      26
 3      69
 4      42
 5      45
 6      73
 7      12
 8      75
 9      46
 10     20
 11     66
 12     80
 13    488
 Name: 4, dtype: object, 5: 1        H
 2       89
 3      136
 4      110
 5       97
 6      156
 7       25
 8      151
 9       94
 10      50
 11     144
 12     133
 13    1041
 Name: 5, dtype: object, 6: 1      2B
 2      18
 3      34
 4      26
 5      21
 6      34
 7       6
 8      24
 9      21
 10     12
 11     33
 12     30
 13    226
 Name: 6, dtype: object, 7: 1     3B
 2      1
 3      1
 4      0
 5      1
 6      1
 7      0
 8      0
 9      1
 10     0
 11     1
 12     1
 13     6
 Name: 7, dtype: object, 8: 1      HR
 2       5
 3      20
 4      12
 5      15
 6      22
 7       7
 8      38
 9      20
 10      8
 11     28
 12     35
 13    182
 Name: 8, dtype: object, 9: 1     RBI
 2      30
 3      73
 4      42
 5      54
 6      82
 7      13
 8      85
 9      62
 10     33
 11     95
 12     87
 13    561
 Name: 9, dtype: object, 10: 1      BB
 2      22
 3      39
 4      32
 5      35
 6      43
 7       9
 8      34
 9      30
 10     19
 11     49
 12     53
 13    316
 Name: 10, dtype: object, 11: 1      SO
 2      51
 3     124
 4      83
 5      74
 6      76
 7      13
 8      94
 9      63
 10     40
 11    103
 12     98
 13    716
 Name: 11, dtype: object, 12: 1     SB
 2      2
 3      5
 4      2
 5      1
 6      1
 7      0
 8      0
 9      3
 10     1
 11     4
 12     3
 13    18
 Name: 12, dtype: object, 13: 1     CS
 2      0
 3      2
 4      4
 5      0
 6      2
 7      1
 8      0
 9      0
 10     1
 11     1
 12     0
 13    10
 Name: 13, dtype: object, 14: 1      AVG
 2     .263
 3     .242
 4     .233
 5     .212
 6     .284
 7     .240
 8     .272
 9     .249
 10    .256
 11    .251
 12    .254
 13    .252
 Name: 14, dtype: object, 15: 1      OBP
 2     .309
 3     .296
 4     .287
 5     .271
 6     .348
 7     .301
 8     .314
 9     .309
 10    .326
 11    .315
 12    .329
 13    .310
 Name: 15, dtype: object, 16: 1      SLG
 2     .367
 3     .412
 4     .364
 5     .361
 6     .470
 7     .500
 8     .521
 9     .468
 10    .441
 11    .459
 12    .516
 13    .441
 Name: 16, dtype: object, 17: 1      OPS
 2     .676
 3     .708
 4     .651
 5     .632
 6     .818
 7     .801
 8     .835
 9     .777
 10    .767
 11    .774
 12    .845
 13    .751
 Name: 17, dtype: object, 18: 1      WAR
 2      0.8
 3      2.9
 4     -0.1
 5      0.4
 6      4.4
 7      0.7
 8      1.8
 9      2.1
 10     0.4
 11     2.5
 12      --
 13      --
 Name: 18, dtype: object, 'name': 'Mike Moustakas'}